{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["testing-library", "jest"],
  "extends": [
    "airbnb",
    "plugin:testing-library/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "linebreak-style": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": [
          "CustomInputLabel"
        ],
        "labelAttributes": [
          "label"
        ],
        "controlComponents": [
          "CustomInput"
        ],
        "depth": 3
      }
    ]
  }
}